<section class="info">
    <article>
        <ul>
            {{#each numbers}}
                <li>Numero(clave):{{@key}}  | Cantidad: {{this}} </li>
            {{/each}}
        </ul>
    </article>
</section>