<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>POST Data</title>
    </head>
    <body>
        <h1>Post</h1>
        <form action="/productos/form" method="post">
            <div>
                <label for="nombre">Nombre: </label>
                <input type="text" name="nombre" id="nombre">
            </div>
            <div>
                <label for="precio">Precio: </label>
                <input type="number" name="precio" id="precio">
            </div>
            <div>
                <label for="thumbnail">Foto URL: </label>
                <input type="text" name="thumbnail" id="thumbnail">
            </div>
            <button type="submit">Enviar</button>
        </form>
        
        <a href="../">Ver data</a>

    </body>
</html>