doctype html
html 
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- meta(name="description", content="Pagina con Plantilla Pug")
        title="Platilla con Pug"
    body
        h1(class=data.class.titlePrincipal)=data.mensaje 