<section class="formulario formulario-register">
    <form action="/register" method="post">
        <div>
            <label for="username">Nombre: </label>
            <input type="text" name="username" id="username" required>
            <label for="password">Contraseña: </label>
            <input type="text" name="password" id="password" required>
        </div>
        <button type="submit">Registrar</button>
    </form>
</section>

<button id="returnLogin" href="">Regresar al Login..</button>

<script type="module" src="js/returnLogin.js"></script>