<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>Cliente</title>
</head>
<body>
    <section class="formulario">
        <form>
            <div>
                <label for="nombre">Nombre: </label>
                <input type="text" name="nombre" id="nombre" required>
            </div>
            <div>
                <label for="precio">Precio: </label>
                <input type="number" name="precio" id="precio" required>
            </div>
            <div>
                <label for="thumbnail">Foto URL: </label>
                <input type="text" name="thumbnail" id="thumbnail" required>
            </div>
            <button id="submitProduct">Enviar</button>
        </form>
    </section>
    {{{body}}}
    <script type="module">
        
    </script>
    <script src="../js/index.js"></script>
</body>
</html>