<section class="formulario formulario-login">
    <form action="/login" method="post">
        <div>
            <label for="username">Nombre: </label>
            <input type="text" name="username" id="username" required>
            <label for="password">Contraseña: </label>
            <input type="text" name="password" id="password" required>
        </div>
        <button type="submit">Ingresar</button>
    </form>
</section>

<button id="returnRegister" href="">Ir a registrarse..</button>

<script type="module" src="js/returnRegister.js"></script>